{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block bs_ow_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_register_login.css') }}">
{% endblock %}
    
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            {{ form.username.label(class="label") }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.password.label(class="label") }}
            {{ form.password(class="form-control", placeholder="Password") }}

            <br>

            <div class="checkbox mb-3">
               <h6>Do not have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}